################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCoreExample/bin/Debug/net6.0
/EFCoreExample/obj
